.grid_4
  %p.title_1
    = I18n.t('forgotpass.forgotpass')
  - if flash[:reset_pass]
    %p{:class => "#{flash[:class]}"}
      = flash[:reset_pass]
  = form_tag password_resets_path do
    #form.form_login
      %table.password_rec
        %tr
          %td{:colspan => "2"}
            %p.content_1= I18n.t('forgotpass.email_instructions')
        %tr
          %td{:colspan => "2"}
            = text_field_tag "email", "", :size => 51
            %br/
        %tr
          %td
            %a.button.pull-left{:href => "/"} Cancel
          %td
            = submit_tag I18n.t('forgotpass.reset_button'), :class => 'button pull-right'
