@charset "UTF-8";
/* CSS Document */

.AccordionTitle, .AccordionContent, .AccordionContainer
{
  /*width:460px;*/
  /*background-color:#666;*/
}

.AccordionTitle
{

  overflow:hidden;
  /*cursor:pointer;*/

  /*text-align:center;*/
  background-repeat:repeat-x;
  /*display:table-cell;*/
  -moz-user-select:none;
  background-color:#fff;
  padding:5px 10px 5px 10px;

}

.AccordionTitle.travel_0 {
  padding-bottom: 10px;
}

.AccordionTitle,
.AccordionTitle p {
  font-family:Verdana, Geneva, sans-serif;
  /*font-size:8pt;*/
  color:#050505;
}

/*.AccordionTitle:hover {background-color:#999;}*/

.AccordionTitle:hover {
  background-color:#ccc !important;
}


.AccordionContent
{
  height:auto;
  overflow:auto;
  display:none;
  background-color:#F2F2F3;
  /*width:100%;*/
  /*overflow:hidden;*/
  overflow:visible; /* changed to visible to show multi-select */
  padding:10px 10px 10px 10px;
}

.AccordionContainer
{
	/*border:solid 2px #FFF;*/
  position: relative;

}
