Hello #{@content[:user]},

You may activate your account by clicking the following url:

\#{@content[:account_activation_url]}

If clicking this URL does not work, try copying and pasting it into your browser.

At this time you may also want to download and install the survey's smartphone application available for iPhone and Android.

If you have any difficulties with your registration and/or installation of the app, please feel free to contact us at fmsurvey@smart.mit.edu

Thank you for your participation!
The Future Mobility Survey team
