%p A session has been cancelled
%p
  The session scheduled from #{@content[:starttime]} to #{@content[:endtime]} has been canceled
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
