%p Dear user,
%p Please be reminded that our survey end date is September 30th, 2013.
%p To claim your $50 incentive, you need to run the FMSurvey app for 14 days (not necessarily continuously) and validate your data for at least 5 days using our online Activity Diary at https://fmsurvey.sg. After that, complete a brief exit survey on the website.
%p To have better data quality, you are strongly encouraged to turn on the GPS on your phone, and have the app running for at least 10 hours per day.
%p If you need any help, please call us at 9124 9322 or email us at fmsurvey@smart.mit.edu. We would be glad to help.
%p If you are not interested in participating in our survey anymore please inform us so we can remove you from our participation list.
%p Thank you for your participation,
%p The FMSurvey Team.
