%p Dear user,
%p Our records indicate that you have already collected 14 days of travel data. Thanks for your support. However, in order to qualify for the incentive, you need to validate 5 days of your data in the activity diary.
%p The system has selected some days with better data, and you are highly encouraged to validate these days, highlighted in blue in your calendar, which is available in https://fmsurvey.sg/.
%p If you need any help in the validation process, feel free to call us at 9124-9322. We will be glad to help you.
%p Thank you for your participation,
%p The FMSurvey Team.
%p Note: If you don´t want to participate in or receive more information about the Future Mobility Survey please reply to this e-mail asking our team to remove your e-mail from the participation list.
