%p
  Hello #{@content[:user]},
%p Now that you have downloaded and installed the FMS app on your phone, the next step is to use the app to collect your activity and travel data. To do this, please sign in to the app and leave it running in the background while you go about your usual activities.
%p
  Once you are running the app, please also log in  periodically to our site #{link_to "here", "https://www.fmsurvey.sg"} to tell us more about your daily activities. We strongly encourage you to schedule a brief tutorial session with one of our assistants to better understand how to validate your data in the activity diary the first time. With your permission, our assistant will be able to see your browser in order to guide you through the process. You can schedule this session by logging in and clicking on the orange "Need Help?" button on the left of our webpage.
%p Please note that you have to complete the survey to qualify for the gift.
%p If you have any questions, please email us at fmsurvey@smart.mit.edu or call 9124 9322
%p Thank you again for your participation! Your help is greatly valued.
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
