- render_map = false
- next_button_label = nil
- show_next_button = true
- section = params[:id]

= form_tag section_path(section), method: :patch, html: { class: "form-horizontal", role: "form" } do
  - @parameters.each do |name, value|
    = hidden_field_tag name, value

  #sp-info.block.text-justify{data: @js_variables}

    - @yaml.each do |element|
      - if element.is_a?(Hash)
        - key, value = element.first
        - case key

          - when 'html_t'
            - id = value['id']
            - style = value['style']
            - class_list = value['class']
            %div{id: 'd-' + id.dasherize, style: style, class: class_list}
              = t("sp_experiment.labels.#{section}.#{id}").html_safe

          - when 'text_t'
            - id = value['id']
            %p= t("sp_experiment.labels.#{section}.#{id}")

          - when 'text_field'
            - id = value['id']
            - label_t = value['label_t'] || id
            - required = value['required'].nil? ? true : value['required']
            = render 'text_answer', id: id, section: section, label_t: label_t, required: required

          - when 'number_field'
            - id = value['id']
            - label_t = value['label_t'] || id
            = render 'number_answer', section: section, id: id, label_t: label_t,
                                      min: value['min'], max: value['max']

          - when 'time_field'
            = render 'time_answer', id: value['id'], section: section, label_t: value['label_t'],
                                    initial_time: value['value']

          - when 'select'
            - id = value['id']
            - label_t = value['label_t'] || id
            - options_t = value['options_t'] || id
            - labels_t = value['labels_t']
            - multiple = !!value['multiple']
            - layout = value['layout'] || 'normal'
            - base_value = value['base_value'] || 1
            = render 'select_answer', id: id, section: section, label_t: label_t, base_value: base_value,
                                      options_t: options_t, multiple: multiple, layout: layout, labels_t: labels_t

          - when 'heading_t'
            = render 'heading', section: section, text_t: value

          - when 'image'
            - src = value['src']
            - width = value['width'] || 'auto'
            = render 'image', src: src, width: width

          - when 'next_button_label_t'
            - next_button_label = t("sp_experiment.labels.#{section}.#{value}")

          - when 'responses_table'
            - id = value['id']
            - title_t = value['title_t'] || id
            - responses_t = value['responses_t'] || id
            - labels_t = value['labels_t'] || id
            = render 'responses_table', id: id, section: section, title_t: title_t, responses_t: responses_t,
                                        labels_t: labels_t

          - when 'page_number'
            = render 'page_number', div: value['div'], page: @variables[:_page], total_pages: value['total_pages']

          - when 'checkbox'
            - id = value['id']
            - label_t = value['label_t'] || id
            = render 'checkbox', section: section, id: id, label_t: label_t

          - when 'hr'
            - id = value['id']
            %hr{id: id}

          - when 'single_choice_matrix'
            - id = value['id']
            - label_t = value['label_t'] || id
            - questions_t = value['questions_t']
            - answers_t = value['answers_t'] || id
            - base_value = value['base_value'] || 1
            = render 'single_choice_matrix', section: section, id: id, label_t: label_t, questions_t: questions_t,
                                             answers_t: answers_t, base_value: base_value

          - when 'numeric_field_matrix'
            - id = value['id']
            - label_t = value['label_t'] || id
            - questions_t = value['questions_t']
            - min = value['min']
            - max = value['max']
            - subtitle_html_t = value['subtitle_html_t']
            = render 'numeric_field_matrix', section: section, id: id, label_t: label_t, questions_t: questions_t,
                                             min: min, max: max, subtitle_html_t: subtitle_html_t

          - when 'label'
            - id = value['id']
            = render 'label', section: section, id: id

      - elsif element.is_a?(String)
        - case element
          - when 'hr'
            %hr

          - when 'map'
            #map{style: "width:100%; height:400px;"}
            - render_map = true

          - when 'hide_next_button'
            - show_next_button = false

    - if show_next_button
      = button_tag type: 'submit', class: 'btn btn-primary pull-right pull-bottom', style: 'margin-bottom: 10px' do
        - if next_button_label.nil?
          = t("sp_experiment.labels.next_page")
        - else
          = next_button_label

- if render_map
  = render partial: 'map'
