%div{id: "d-" + id.dasherize}
  %p.heading
    = t "sp_experiment.labels.#{section}.#{id}"

  - translated_answers = t answers_t, scope: "sp_experiment.labels.#{section}.answers"
  - answers = (0 .. translated_answers.size - 1).map {|i| [translated_answers[i], base_value + i]}

  - questions_t.each do |question_t|
    - question = t "sp_experiment.labels.#{section}.questions.#{question_t}"
    .form-group.row{id: question_t.dasherize}
      %label.control-label.col-sm-6.col-form-label
        = question
      .col-sm-6
        = select_tag question_t, options_for_select(answers), include_blank: true, class: 'form-control', required: true
