.clear
- i = 1
- no_people.to_i.times do
  - if i%2 != 0
    .grid_5
      - else
        .grid_5.prefix_1
          - if i == 1
            %p.title_1 Information about the other members
          - else
            %p.content_b  
          %p.content_i
            Please provide information about member #{i}:
          %table.table_info
            %tbody
              %tr.info
                %td
                  %p.content_1 Will this person be participating in the survey?
                %td
                  = radio_button_tag("participate_#{i}", "Yes", false)
                  Yes
                  \#{radio_button_tag("participate_#{i}", "No", true)}No
              %tr.info{:id => "hidden_email_#{i}", :style => "display:none"}
                %td
                  %p.content_1
                    Email
                    %sup> +
                    \:
                %td
                  / <input type="text" name="person_email_<haml_loud> i </haml_loud>" value ='<haml_silent></haml_silent>' size="29">
                  %input{:name => "person_email_#{i}", :size => "29", :type => "text"}/
              %tr.info
                %td
                  %p.content_1 Name/Nickname:
                %td
                  / <input type="text" name="person_name_<haml_loud> i </haml_loud>" value ='<haml_silent></haml_silent>' size="29">
                  %input{:name => "person_name_#{i}", :size => "29", :type => "text"}/
              %tr.info
                %td
                  %p.content_1 Gender:
                %td
                  = select_tag("person_gender_#{i}", options_for_select(['Male', 'Female']))
              %tr.info
                %td
                  %p.content_1 Age range:
                %td
                  = select_tag("person_age_#{i}", "<option>Please choose an option</option>" + options_for_select(["Don't know", "0-4 years", "4-9 years", "10-14 years", "15-18 years", "19-24 years", "25-29 years", "30-34 years", "35-39 years", "40-44 years", "45-49 years", "50-54 years", "55-59 years", "60-64 years", "65-69 years", "70-74 years", "75-79 years", "80-84 years", "85 years and over"]), :onchange => "updateConsent(#{i}, this)")
              %tr.info{:id => "consent#{i}", :style => "display:none"}
                %td
                  %p.content_1
                    I understand the procedures described in the #{link_to "Consent to Participate in Non-Biomedical Research", "/docs/FMSurvey_Minor_Consent.pdf"}. My questions have been answered to my satisfaction, and I agree that my child may participate in this study. I understand that I may download a copy of the relevant document on behalf of my child for future reference.
                %td
                  %p.content_1
                    I, as the legal representative for this minor, do authorize his or her information to be collected.#{check_box_tag("consent[]", "Accept", false)}
              %tr.info
                %td
                  %p.content_1 Level of education:
                %td
                  = select_tag("person_education_#{i}", "<option>Please choose an option</option>" + options_for_select(['Don’t know', 'Primary education or less','Secondary education','Undergraduate / bachelor’s degree','Graduate/post-graduate degree']))
              %tr.info
                %td
                  %p.content_1 What is this person's relationship to you?
                %td
                  = select_tag("person_relationship_#{i}", "<option>Please choose an option</option>" + options_for_select(['Spouse','Son/Daughter(including adopted)','Son-in-law/Daughter-in-law','Parent/Guardian','Parent-in-law','Brother/Sister (including adopted)','Brother-in-law/Sister-in-law','Grandchild','Grandparent','Other Relative','Non-relative']))
              %tr.info{:id => "hidden_info_#{i}", :style => "display:none"}
                %td{:colspan => "2"}
                  %p.content_i
                    %sup> +
                    For sending installation information.
        - if i%2 == 0  and i < no_people.to_i
          .clear
          .clear
          .grid_12
            .stripes
          .clear
      - i+=1
      - end
      :javascript
        jQuery(document).ready(function(){
        	jQuery("input:radio").each(function(){
        		jQuery(this).change(function(){
        			identifier = jQuery(this).attr('name').split('_')[1];
        			if (jQuery(this).val() == "Yes"){
        				jQuery("#hidden_info_"+identifier).css('display', '');
        				jQuery("#hidden_email_"+identifier).css('display', '');
        			}
        			else{
        				jQuery("#hidden_info_"+identifier).css('display', 'none');
        				jQuery("#hidden_email_"+identifier).css('display', 'none');
        			}
        		});
        	});
        });
