%p{:style => "font-size: 1.3em;"}
  I understand the procedures described in the
  = succeed "." do
    %b
      %u= link_to "Consent Form", "/docs/FMSurvey_Consent.pdf"
%p{:style => "font-size: 1.3em;"}
  My questions, if any, have been answered to my satisfaction, and I agree to participate in this study. I understand that I may
  %b
    %u= link_to "download a copy of the consent form", "/docs/FMSurvey_Consent.pdf"
  for future reference.
%p
  = link_to "I do not accept", pages_deactivate_user_path, method: :patch, class: 'button'
  = link_to "I accept", pages_accept_consent_path, method: :patch, class: 'button'
