.grid_4= image_tag("smart/presurvey_feedback1.png", :alt =>"feedback" )
.grid_3
  %p  
  %p.title_1
    Completed:
    %br/
    Phase 1 — Pre-Survey
  %p.content_1
    If you've registered any additional household members,
    %b they will receive an email confirmation
    in order to be able to log in to the web survey.
.grid_3
  %p  
  %p.title_1
    Next phase:
    %br/
    Phase 2 — Smartphone installation + Activity Diary
  %p.content_1
    The next phase of the survey will require that the
    %b FMS smartphone app
    be installed on your
    %b Android
    or
    = succeed "." do
      %b iPhone
    = succeed "If" do
      %br/
    %b here
    to download and install. Once the app is working, you will be ready to move on to the #{link_to "<b>Activity Diary</b>", {:controller => "report"}}.
.clear
.grid_12
  .stripes
.clear
.grid_3
  %p.title_1 What it is all about?
  %p.content_1
    The Future Mobility Survey is a household travel survey sponsored by the
    %b Future Urban Mobility
    group in the Singapore-MIT Alliance for Research and Technology (
    %span.class2>
      %a{:href => "http://smart.mit.edu/"} SMART
    ).
.grid_3
  %p.title_1 How does it work?
  %p.content_1 The main idea is to use smartphones to collect data about the Singaporean residents and families. After the data is collect it should be validated in to the website.
.grid_3
  %p.title_1 Why should I participate?
  %p.content_1 Results from this survey will be used to find ways to enhance the Singaporean transportation network. With better data, we can make better decisions related to the planning and implementation of transportation projects that can shorten travel times, provide more efficient transfers and add to the quality of life in Singapore. Your participation ensures that your voice will be heard in this process.
.grid_3
  %p.title_1 What about my confidentiality?
  %p.content_1
    The Smartphone Travel Survey team
    %b respects your privacy
    and promises to protect it. For more information about the privacy policy,
    = succeed "." do
      %span.class1= link_to "click here", "/docs/Privacy_Policy_HMSurvey.pdf"
.grid_5.prefix_1
.clear
.clear
