.grid_3
  = image_tag("smart/error.png")
.grid_9
  %p  
  %p.title_1 Looks like you're lost!
  %p.content_1 Please, use the navigation above or search to find what are you looking for.
.clear
.grid_12
  .stripes
.clear
.grid_3
  %p.title_1 What it is all about?
  %p.content_1
    The Future Mobility Survey is a household travel survey sponsored by the
    %b Future Urban Mobility
    group in the Singapore-MIT Alliance for Research and Technology (
    %span.class2>
      %a{:href => "http://smart.mit.edu/"} SMART
    ).
.grid_3
  %p.title_1 How does it work?
  %p.content_1
    This survey consists of two main phases:
    %b activity-diary
    and
    = succeed "." do
      %b exit survey
    = succeed "It" do
      %br/
.grid_3
  %p.title_1 Why should I participate?
  %p.content_1 Results from this survey will be used to find ways to enhance the Singaporean transportation network. With better data, we can make better decisions related to the planning and implementation of transportation projects that can shorten travel times, provide more efficient transfers and add to the quality of life in Singapore. Your participation ensures that your voice will be heard in this process.
.grid_3
  %p.title_1 What about my confidentiality?
  %p.content_1
    The Smartphone Travel Survey team
    %b respects your privacy
    and promises to protect it. For more information about the privacy policy,
    = succeed "." do
      %span.class1
        %a{:href => "/docs/Privacy_Policy_HMSurvey.pdf"} click here
