!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title QUnit Tests
    %script{:src => "https://maps.google.com/maps/api/js?sensor=false&libraries=geometry", :type => "text/javascript"}
    = render :partial => "/layouts/header_frontend"
    = stylesheet_link_tag 'vendor/qunit'
    = javascript_include_tag 'vendor/qunit'
    %script{:language => "Javascript"}
      :cdata
        $(document).ready(function() {
        \#{yield}
        });
  %body
    %h1#qunit-header QUnit example
    %h2#qunit-banner
    #qunit-testrunner-toolbar
    %h2#qunit-userAgent
    %ol#qunit-tests
    #qunit-fixture test markup, will be hidden
